<footer id="sticky-footer" class="flex-shrink-0 py-3 bg-dark text-white mt-4">
    <div class="container text-center">
        <a href="https://github.com/Kenilgajera9801/"><i class="fa fa-github"></i> </a>
       <a href=""><i class="fa fa-linkedin"></i> </a>
    </div>
    <div class="container text-center">
        <small>Copyright &copy; 2021 Kenil Gajera</small>
    </div>
</footer>