<div class="container">
    <div class="my-heading py-5">
        <h1 class="title-style">About Me</h1>
    </div>
    <section>
        <div class="r-heading">
            <span class="subtitle">Education Details</span>
            <h2>
                My Qualifications
            </h2>
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <td class="light-text">May 2020-present </td>
                    <td>Computer Programmer (COPR)</td>
                    <td class="light-text">Georgian College, Barrie, ON, Canada.</td>
                </tr>
                <tr>
                    <td class="light-text">2018-2019</td>
                    <td>Diploma in Computer Application (DCA)</td>
                    <td class="light-text">Course includes: Programming languages C, C++.</td>
                </tr>
                <tr>
                    <td class="light-text">2017-2018</td>
                    <td>Scored 79.02 percentile rank in Higher Secondary</td>
                    <td class="light-text">Certificate Examination</td>
                </tr>

            </tbody>
        </table>
    </section>
    <section class="py-4">
        <div class="r-heading">
            <span class="subtitle">Experience Details</span>
            <h2>
                WORK EXPERIENCE
            </h2>
        </div>

        <div class="r-heading">
            <div class="row">

                <div class="col-md-8">
                    <h2 class='font-weight-bold text-danger'>Ascendum KPS Private Limited</h2>
                </div>
                <div class="col-md-4">
                    <h4>February 2019 - March 2019</h4>
                </div>
                <ul class="work-list">
                    <li>Entered data accurately and quickly, helping me to remain on the top in workers performance list.</li>
                    <li>Communicated to customers by listening and answering calmly with no false information delivered to
                    them.</li>
                    <li>Worked in a team to conduct survey resulted in satisfaction of more than 50 customers per day.</li>
                    <li>Ensured weekly goals and tasks were completed, to reduce workload</li>
                </ul>
            </div>
        </div>
    </section>
</div>