<div id="home">
    <div class="row">
        <div class="col">
            <div class="my-text">
                <h2 class="heading">Hello!<br><span class="name">
                        I am KENIL GAJERA</span></h2>
                <p class="description">I need to get a dependable and testing position
                    with a reformist organization where my ability and capacity will have
                    significant application and usage of my chance for progression of the
                    firm..</p>
                <a href="tel:+1(705)-905-8685" class="btn btn-primary action-btn">Call
                    Now</a>
                <a href="mailto:kenilgajera9801@gmail.com" class="btn btn-danger action-btn">Email Me</a>
            </div>
        </div>
        <div class="col">
            <img src="./images/dev-image.jpg" class="dev-image" alt="">
        </div>
    </div>
</div>
<div class="my-heading py-5" style="background-color:#ddd;">
    <h1 class="title-style">My Technical Skills</h1>
    <div class="row">
        <div class="col">
            <img src="./images/skills.png" class="skill-image" alt="">
        </div>
        <div class="col px-3">
            <h5> Here are my technical skills</h5>
            <div class="skill">
                <h5>Java</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 25%" aria-valuenow="80"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="skill">
                <h5>C#</h5>
                <div class="progress">

                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 50%" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="skill">
                <h5>PHP</h5>
                <div class="progress">

                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 75%" aria-valuenow="85"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="skill">
                <h5>MYSQL/SQL</h5>
                <div class="progress">

                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 100%" aria-valuenow="90"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>