<div class="my-heading py-5">
    <h1 class="title-style">My Projects</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-img-overlay">
                    <h4 class="card-title">Pawsitive Pets</h4>
                    <p class="card-text">A Pets Website created in C# using MVC Structure and functionality to manager pets data such as adding new pets or managing existing pets in the shop.</p>
                
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-img-overlay">
                    <h4 class="card-title">Shop Manager</h4>
                    <p class="card-text">App to calculate cleaning charges per size and number of rooms. It can be used in small hotels,  shops, etc. to show the charges that customer has to pay.</p>
                
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-img-overlay">
                    <h4 class="card-title">Vector Manipulator</h4>
                    <p class="card-text">It displays values in vectors 1 and 2, using pushback it changes the value of vector1 but the value of all vector2d remains the same.</p>
                
                </div>
            </div>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-img-overlay">
                    <h4 class="card-title">Battery Shop</h4>
                    <p class="card-text">A C# MVC powered battery website to sale batteries online and managing stock with all functionality to manage products in the shop,Also carting is add for user's ease to shoip with help of database.</p>
                
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-img-overlay">
                    <h4 class="card-title">Bank Account Manager</h4>
                    <p class="card-text">Bank Account manager created using SWIFT language,which helps to calculate interest for accounts with help of OOPS Concept. </p>
                
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-img-overlay">
                    <h4 class="card-title">Vector Manipulator</h4>
                    <p class="card-text">It displays values in vectors 1 and 2, using pushback it changes the value of vector1 but the value of all vector2d remains the same.</p>
                
                </div>
            </div>
        </div>
    </div>
</div>